body {
  font-family: sans-serif;
  max-width: 50em;
  margin: auto;
}
h2 {
  margin: 1ex 0 0 0;
  font-size: 120%;
}
h2:first-child {
  margin-top: .5em;
}
#mathml-input {
  font-family: monospace;
  font-size: 100%;
  padding: .3em;
  width: 100%;
  box-sizing: border-box;
}
#render-button {
  display: block;
  font-weight: bold;
  background-color: lightgreen;
  margin-top: 1ex;
  margin-bottom: 3ex;
  margin-left: auto;
  margin-right: auto
  
}
#mathml-output {
    font-size: 110%;
    margin-top: 0em;
    border: 1px solid grey;
    padding: .25em;
    min-height: 3em;
    width: 100%;
    white-space: pre;
  }

textarea {
  word-wrap: normal;
}

#speech, #braille {
  min-height: 3em;
  width: 100%;
  border: 1px solid #AAA;
  background-color: #F8F8F8;
  padding: .5em .5em .5em 1.5em;
  overflow: auto;
}

#mathml-output:focus-within {
  outline-width: 2px;
  outline-style: solid;
  outline-color: green;
}

#outer-table {
  width: 100%;
}

#braille {
  font-size: 150%;
}

.sync-highlight {
  color: yellow;
  background: blue;
  outline-color: blue;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 0px;
  // padding: 1px;   // looks better with padding, but that sometimes causes shifts -- hmmm...
  // margin: -1px;   // looks better with padding, but that sometimes causes shifts -- hmmm...
}

.nav-highlight {
  // color: white;
  // background: #0f1d68;
  outline-color: orange;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 0px;
  // padding: 1px;   // looks better with padding, but that sometimes causes shifts -- hmmm...
  // margin: -1px;   // looks better with padding, but that sometimes causes shifts -- hmmm...
}
